#################################
## Vagrant.gitignore
#################################

.vagrant/

#################################
## Python.gitignore
#################################
# Byte-compiled / optimized / DLL files
__pycache__/

#############################################
## database.gitignore
##############################################

*.db
